html {
    font-family: "Microsoft YaHei", Helvetica, Arial, "Time New Roman", sans-serif;
}
body {
    /* 居中显示 */
    display: flex;
    justify-content: center;
    line-height: 1.5;
}
h1 {
    margin-top: 3rem;
}
a:link {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #0000ff;
}
b + p {
    margin-top: 0;
}
.heading {
    float: left;
    width: 190px;
    height: 790px;
    margin-right: 1.5rem;
    text-align: center;
    color: #ffffff;
    background: #65a5fa;
}
.resume-content {
    float: left;
    background-color: #eeeeee;
    padding: 5px;
}
/* 清除浮动,防止body高度塌陷 */
body::after {
    content: "";
    display: block;
    clear: both;
}