html {
    font-family: "Microsoft YaHei", Helvetica, Arial, "Time New Roman", sans-serif;
}
body {
    line-height: 1.5;
}
a:link {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #0000ff;
}
b + p {
    margin-top: 0;
}